@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&family=Syne+Mono&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Definicion de variables */

:root{
   --blue:#62BECB;
   --black: #000306;
   --dark-blue:#0E4E5A;

   --monospace:'Syne Mono', monospace;
   --inconsolata:'Inconsolata', monospace;
}

/* Colores generales */

.background__blue{
   background-color:var(--blue);
}

.background__black{
   background-color:var(--black);
}

.text__color-blue{
   color: var(--blue) !important;
}

.text__color-black{
   color: var(--black) !important;
}

.menu__link{
   font-size: 1.2rem;
   font-family: var(--inconsolata);
}

/* Estilo y diseño PAGINA DE INICIO seccion Main */

#title__h2-animate{
   font-size: 6rem;
   font-family: var(--monospace);
}

#title__h3{
   font-size: 2rem;
   font-weight: 300;
   font-family: var(--inconsolata);
}

.animate__1{
   display: block;
   white-space: nowrap;
   width: 6ch;
   animation: typing 2s steps(6), blink .5s infinite step-end alternate ;
   overflow: hidden;
   position: relative;
   left: 3.2rem;
}

.animate__2{
   display: block;
   white-space: nowrap;
   width: 5ch;
   animation: typing 2s steps(5), blink .5s infinite step-end alternate ;
   overflow: hidden;
   position: relative;
   left: 4.3rem;
}

@keyframes typing{
   from { width: 0 }
}

@keyframes blink{
   50% { border-color: transparent ;}
}


/* creacion y estructura de la seccion main PAGINA DE HABILIDADES */

.titulo__skills{
   font-family: var(--monospace);
   color: var(--blue);
}

.img__skills{
   width: 14rem;
   background-color:var(--dark-blue);
   border-radius: .5rem;
}

.img__skills:hover{
   width: 15rem;
   background-color:var(--blue);
   border-radius: .5rem;
   transform: scale(16rem) all ease;
   position:absolute;
}

/* Estructuracion de la pagina de proyectos */
.contenedor__proyectos{
   height: 84.45vh;
}

.titulo__proyects{
   font-family: var(--monospace);
   color: var(--black);
}

.img__proyects{
   width: 15rem;
}


@media screen and (max-width:768px) {
   .contenedor__proyectos{
      height: max-content;
   }
}

/* seccion sobre mi */

.img__about{
   width: 30rem;
}

.parrafo__about{
   color: var(--dark-blue);
   text-align: justify;
}
/* footer */

.footer__black{
   background-color: var(--black);
   color:var(--blue);
}

.footer__blue{
   background-color:var(--blue);
   color: var(--black);
}

.footer__wrapper{
   height: 3rem;
   line-height: 3rem;
}

